*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body, #root {
//   height: 100%;
  margin: 0;
  padding: 0;
}

.MuiToolbar-root{
    justify-content: space-between;
}

#productListSection{
    margin: 4% auto;
    width: 70%;
}

#productList{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.listCard{
    margin: 3% auto;
    width: 18rem;
    height: 20rem;
}

#categoryTitle{
    width: 70%;
    margin: 2% auto;
    text-align: center;
}

#cartItems{
    position: fixed;
    top: 4.5em;
    right: 0;
    width: 17%;
    margin-right: 0.5%;

    ul{

        li{
            display: grid;
            grid-template-columns: 90% 10%;
            align-items: center;
            // padding: auto 5%;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 2px silver;
            list-style: none;
            p{
                padding: 2%;
                display: inline;
            }
            span{
                color: rgb(27, 27, 202);
                &:hover{
                    cursor: pointer;
                    color: rgb(209, 21, 21);
                }
            }
        }
    }

}
